@import "tailwindcss";
@plugin "tailwindcss-motion";

input[type="file"] {
  @apply bg-gray-200;

  @apply p-2;
  @apply rounded-lg;
  @apply border-2;
  @apply border-gray-300;
  @apply focus:border-blue-500;
  @apply focus:outline-none;
}
/* .upload-btn {
  @apply bg-blue-500;
  @apply text-white;
  @apply rounded-lg;
  @apply border-2;
  @apply border-blue-500;
  @apply focus:border-blue-500;
  @apply focus:outline-none;
  @apply cursor-pointer;
  padding: 0.5em 1.5em;
} */
.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-wrap: wrap;
}
select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em;
}
.upload-container > div {
  flex-wrap: wrap;
  width: 100%;
}
.upload-container button {
  cursor: pointer;
}
.upl-btn:hover {
  @apply bg-blue-600;
}
.footer-chatbar-container {
  position: fixed;
  bottom: 0;
  width: 90%;
  max-width: 900px;
  margin: 2em;
  cursor: pointer;
  border-radius: 50px;
  padding: 0.2em;
  user-select: none;
}
.ani {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 0.5em 0.5em;
  padding-right: 1em;
  border-radius: 50px;
}
header {
  top: 0;
  z-index: 50;
  margin: 0 auto;
}
.footer-chatbar {
  width: 100%;
  font-size: 1.1rem;
  outline: none;
  padding: 0.5em;
}
.extracted-response-container {
  width: 100%;
  display: grid;
  /* border: 1px solid blue; */
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin: 1em 0em;
  color: white !important;
  padding: 1em;
  /* height: 100%;
  min-height: 70vh; */
}
hr {
  margin-top: 2em;
  color: lightgrey;
  border-style: dashed;
}

.extracted-questions-container,
.extracted-answers-container {
  min-height: 68vmin;
  height: 75vmin;
  padding: 1em;
}

/* .animated-border { */
/* Set a transparent border to use border-image */
/* border: 2px solid transparent; */

/* Create a gradient border */
/* 
  animation: borderAnimation 2s linear infinite;
} */

/* .loader {
  margin-top: 10em !important;
} */
.typed-out {
  width: 0;
  animation: typing 1s forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: fit-content;
  }
}
@media (min-width: 600px) {
  //
}
